In [6]:
import os
import psycopg2

DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a lineboteddie').read()[:-1]

conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

create_user_table = '''CREATE TABLE user_account(
           user_id serial PRIMARY KEY,
           user_name VARCHAR (50) NOT NULL,
           password VARCHAR (50) NOT NULL,
           email VARCHAR (355) UNIQUE NOT NULL,
           cell_phone VARCHAR (50) NOT NULL,
           gender VARCHAR (4),
           address VARCHAR (50),
           birth_date VARCHAR (8),
           line_id VARCHAR (50),
           fb_id VARCHAR (50),
           last_login TIMESTAMP
        );'''

select_user_table = "SELECT column_name, data_type FROM information_schema.columns WHERE table_name = 'user_account'"
    
cursor.execute(select_user_table)
data = []
while True:
    temp = cursor.fetchone()
    if temp:
        data.append(temp)
    else:
        break
print(data)
conn.commit()

cursor.close()
conn.close()

[('user_id', 'integer'), ('user_name', 'character varying'), ('password', 'character varying'), ('email', 'character varying'), ('cell_phone', 'character varying'), ('gender', 'character varying'), ('address', 'character varying'), ('birth_date', 'character varying'), ('line_id', 'character varying'), ('fb_id', 'character varying'), ('last_login', 'timestamp without time zone')]

In [16]:
import os
import psycopg2

from datetime import datetime

now = datetime.now()

current_time = now.strftime("%H:%M:%S")

print("current_time = " + current_time)

DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a lineboteddie').read()[:-1]

conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

records = [('Eddie', 'wawa', 'eddie.chang425@gmail.com', '0975170107', 'M', '新北市中和區', '19870425', 'eddie425', 'eddie', now),
          ('Rickle', 'wawa', 'rickle1226@gmail.com', '0974232323', 'M', '新北市中和區', '19871225', 'rickle', 'rickel', now)]

table_columns = '(user_name, password, email, cell_phone, gender, address, birth_date, line_id, fb_id, last_login)'
postgres_insert_query = f"""INSERT INTO user_account {table_columns} 
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"""

    
cursor.executemany(postgres_insert_query, records)
conn.commit()

count = cursor.rowcount
print(count, "Record inserted Success")

cursor.close()
conn.close()

current_time = 21:41:04
2 Record inserted Success

In [18]:
import os
import psycopg2

DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a lineboteddie').read()[:-1]

conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

postgres_select_query = f"""SELECT * FROM user_account"""

cursor.execute(postgres_select_query)
cursor.fetchall()

[(2,
  'Zoe',
  'wawa',
  'zoe19910712@gmail.com',
  '0973035743',
  'F',
  '新北市中和區',
  '19910712',
  'zoe',
  'zoe',
  datetime.datetime(2020, 8, 9, 21, 37, 35, 190259)),
 (3,
  'Eddie',
  'wawa',
  'eddie.chang425@gmail.com',
  '0975170107',
  'M',
  '新北市中和區',
  '19870425',
  'eddie425',
  'eddie',
  datetime.datetime(2020, 8, 9, 21, 41, 4, 809551)),
 (4,
  'Rickle',
  'wawa',
  'rickle1226@gmail.com',
  '0974232323',
  'M',
  '新北市中和區',
  '19871225',
  'rickle',
  'rickel',
  datetime.datetime(2020, 8, 9, 21, 41, 4, 809551))]